.contenedor-ofertas {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.oferta {
    border: 1px solid #ccc;
    padding: 10px;
    width: 220px;
    text-align: center;
}

.oferta img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}


.centrado {
    text-align:center;
}

.imagen {
    display: inline-block;
    width: 250px;
    margin: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.imagen img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #211f4b;
    padding:20px;
}

.logo {
    color: white;
    margin: 0;
}

.menu ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
}

.menu a {
    color: white;
    text-decoration: none;
}


footer {
    background-color: black;
    color: white;
    text-align: center;
}



a:focus-visible {
    outline: 3px solid #00bfff;
    outline-offset: 4px;
}

.menu {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

body {
    padding-top: 50px;
}

.menu ul {
    padding-right: 50px;
}

section {
    scroll-margin-top: 100px;
}

.oferta,
.imagen {
    transition: 0.3s;
}

.oferta:hover,
.imagen:hover {
    transform: scale(1.05);
}